*{
    background-color:aliceblue;
}
#btn{
    display: flex;
    justify-content: center;
}
#btn button:hover{
    font-size: large;
    font-weight: bold;
    transform:scale(1.2);
    transition:0.3s;
    cursor:pointer;
}
.bg-primery{
    background-color:rgba(81, 219, 109, 0.758) !important;
}
#txt{
    background-color: green;
}